.menufront {
    width: 100%;
    background-color: rgba(106, 142, 148, 0.849);
    margin-right: auto;
    margin-left: auto;
    /* ^^ centers content */
    text-align: center;
}

.menuitems {
    margin-top: -10px;
    padding-bottom: 10px;
}

#brgrs,
#sides {
    background-color: rgba(106, 142, 148, 0.849);
    max-width: 10%;

    /* What the below does is make it so the block only includes the content unless padding, etc is added */
    display: inline-block;

    /* Font related */
    font-size: xx-large;

    /* Padding: Inside the border, Margin: Outside the border */
    margin-left: 400px;
    padding: 5px;
    padding-right: 8px;

    /* Border related stuff */
    border-style: ridge;
    border-radius: 5px;
    border-width: 10px;
}

#pasta,
#drinks {
    background-color: rgba(106, 142, 148, 0.849);
    font-size: xx-large;
    padding: 5px;
    margin-left: 44%;

    /* Border related */
    border-style: ridge;
    border-radius: 5px;
    border-width: 10px;
}

.brgpst h2 {
    display: inline-block;
}

.ffood {
    padding-left: 250px;
    width: 15%;
    text-align: left;
    /* border-style: solid; */
}

.fprice {
    width: 8%;
    text-align: left;
    /* border-style: solid; */
}

/*second price for items*/
.sprice {
    width: 10%;
    text-align: left;
    /* border-style: solid; */
}

.sfood {
    width: 15%;
    padding-right: 20px;
    padding-left: 25px;
    text-align: left;
    margin-left: 24%;
    /* border-style: solid; */
}

.sidedrk h2 {
    display: inline-block;
}