.vertl {
  border-style: ridge;
  border-width: 15px;
  margin-top: -10px;

  position: absolute;
  left: 50%;
}

#leftl {
  height: 100%;

  left: 0%;
}

#rightl {
  height: 100%;
  left: 99%;
}

#blline {
  margin-top: -30px;
  height: 60%;
  left: 0%;
}

#brline {
  margin-top: -30px;
  height: 60%;
  left: 99%;
}

hr {
  /* height on <hr> increases line size */
  height: 10px;
  background-color: aliceblue;
  border-style: groove;
  border-width: 3px;
}

.circ {
  border-style: ridge;
  border-radius: 50px;
  border-width: 30px;
  width: 10px;
  margin-right: auto;
  margin-left: 925px;
  margin-top: -50px;
}

#bottom {
  height: 355px;
}

#upper {
  height: 365px;
}

#hrfoot {
  margin-top: -10px;
}
